.scroll-container {
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.text--white {
  color: #fff !important;
}

.scroll-container-height {
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.scroll-container-main {
  width: 100%;
  height: 360px;
  overflow: hidden;
}

.scroll-container-employee {
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.v-text-field--filled.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot {
  min-height: 24px !important;
}

.v-text-field.v-text-field--solo.v-input--dense>.v-input__control {
  min-height: 24px !important;
  font-size: 12px !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
  box-shadow: none !important;
  border: 1px solid #8a8a8a !important;
}

.v-text-field__details {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  min-height: 1px !important;
  overflow: hidden;
}

.v-text-field.v-text-field--solo .v-label {
  top: calc(50% - 9px);
  font-size: small !important;
}

.v-text-field.v-input--dense:not(.v-text-field--outlined) input {
  padding: 2px 0 2px !important;
  font-size: 12px !important;
}

.ht_clone_top {
  z-index: 7;
}

.v-navigation-drawer--temporary {
  z-index: 999 !important;
}

.v-menu__content.theme--light.menuable__content__active {
  z-index: 800 !important;
}

.v-picker__body {
  z-index: 799 !important;
}

.bg-green {
  background-color: #b3ec95;
}

.bg-red {
  background-color: #e84f65;
}

.bg-white {
background-color: #f6e99f;
}

.btnToTenant {
  width: 99%;
  height: 100%;
  background: #e6a23c;
  text-align: center;
  font: 12px sans-serif;
  // padding: 5px;
  color: #fff!important;
}

.btnDelete {
  width: 99%;
  //height: 100%;
  background: #ff1230;
  text-align: center;
  font: 12px sans-serif;
  padding: 5px;
  color: #fff!important;
}

.btnSPB {
  width: 99%;
  //height: 100%;
  background: #ffca1a;
  text-align: center;
  font: 12px sans-serif;
  padding: 5px;
  color: #fff!important;
}


.btnNPB {
  width: 99%;
  //height: 100%;
  background: #85ce61;
  text-align: center;
  font: 12px sans-serif;
  padding: 5px;
  color: #fff!important;
}

.v-data-table__wrapper table tbody tr:hover {
  cursor: pointer;
}

//.v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
//.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
//  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
//}

//.v-data-table>.v-data-table__wrapper>table>tbody>tr>td,
//.v-data-table>.v-data-table__wrapper>table>tfoot>tr>td,
//.v-data-table>.v-data-table__wrapper>table>thead>tr>td {
//  font-size: 0.675rem !important;
//  height: 28px !important;
//}

.v-card__subtitle,
.v-card__text {
  font-size: 0.775rem !important;
}

.v-btn {
  text-transform: capitalize !important;
}

.v-dialog>.v-card>.v-card__title {
  padding: 5px 24px 5px !important;
}

tbody tr td .v-btn--icon.v-size--default {
  height: 20px;
  width: 20px;
}

//.v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
//  padding: 0 3px !important;
//}

.v-list-item {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 30px !important;
  outline: none;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
}

.v-icon.v-icon {
  font-size: 20px !important;
}

body {
  font-size: 12px !important;
}

.v-list-item__title {
  font-size: inherit !important;
}

.v-toolbar__title {
  font-size: 1.1rem !important;
}

.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
  font-size: 1em;
}

.v-application .headline {
  font-size: 1.3rem !important;
}

.toolbar-content .v-toolbar__content {
  height: 32px !important;
}

.theme--light.v-card {
  color: #222 !important;
}

.theme--light.v-card > .v-card__text, .theme--light.v-card > .v-card__subtitle {
  color: #222 !important;
}

// .handsontable .htDimmed {
//   color: #222 !important;
// }


.handsontable thead th.colorJkt {
    background: #E6A23C;
    border-color: #DEDE9A;
}

.handsontable thead th.colorTenant {
    background: #409EFF;
    border-color: #DEDE9A;
}

.handsontable thead th.colorPPJK {
    background: #67C23A;
    border-color: #DEDE9A;
}

.currentRow {
    background-color: #F9F9FB !important;
}

.currentCol {
    background-color: #E7E8EF !important;
}


.myBtRed {
    width: 99%;
    height: 100%;
    background: #f56c6c;
    text-align: center;
    font: 11px sans-serif;
    /*padding: 5px;*/
    color: #fff!important;
}

.btnInv {
    width: 99%;
    height: 100%;
    background: #85ce61;
    text-align: center;
    font: 11px sans-serif;
    /*padding: 5px;*/
    color: #fff!important;
}

.linkToTenant {
    color: #E6A23C !important;
}

.linkToPPJK {
    color: #85ce61 !important;
}

.linkToJkt {
    color: #409EFF !important;
}

.btnToTenant {
    width: 99%;
    height: 100%;
    background: #E6A23C;
    text-align: center;
    font: 12px sans-serif;
    /*padding: 5px;*/
    color: #fff!important;
}

.btnToJkt {
    width: 99%;
    height: 100%;
    background: #409EFF;
    text-align: center;
    font: 12px sans-serif;
    /*padding: 5px;*/
    color: #fff!important;
}

.btnToJkt2 {
    width: 99%;
    height: 100%;
    /*background: #e0e648;*/
    background: #409EFF;
    text-align: center;
    font: 12px sans-serif;
    /*padding: 5px;*/
    color: #fff!important;
}

.btnToPPJK {
    width: 99%;
    height: 100%;
    background: #85ce61;
    text-align: center;
    font: 12px sans-serif;
    /*padding: 5px;*/
    color: #fff!important;
}

.myBt {
    width: 99%;
    height: 100%;
    background: #66b1ff;
    text-align: center;
    font: 11px sans-serif;
    /*padding: 5px;*/
    color: #fff!important;
}

.filterHeader > input {
    background-color: #fff!important;
    width: 100%;
    /* border-top: 1px solid #eee; */
    /* border-bottom: 1px solid #eee; */
}

.has-border-bottom {
  border-bottom: 1px solid #eee !important;
}

.filterHeader {
    border: 1.5px solid #eee;
    height: 10px;
    padding-bottom: 7px;
}

.v-text-field.v-text-field--solo.v-input--dense .v-input__prepend-outer, .v-text-field.v-text-field--solo.v-input--dense .v-input__append-outer {
  margin-top: 2px !important;
}

.doc-open {
  background-color: #69F0AE;
}

.doc-open-upload {
  background-color: #f6e090;
}

.doc-cancel {
  background-color: #ee6f6f;
}

.doc-white {
  background-color: #fff;
}

.theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: #222!important;
}

.v-text-field--filled.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot {
  min-height: 24px !important;
}

.v-text-field.v-text-field--solo.v-input--dense>.v-input__control {
  min-height: 24px !important;
  font-size: 12px !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
  box-shadow: none !important;
  border: 1px solid #8a8a8a !important;
}

.v-text-field.v-text-field--solo.v-input--dense .v-input__prepend-outer, .v-text-field.v-text-field--solo.v-input--dense .v-input__append-outer {
  margin-top: 2px !important;
}

.swal2-icon {
  width: 5em !important;
  height: 5em !important;
}

//.v-slide-group__content {
//  display: flex;
//  align-items: baseline !important;
//  flex: 1 0 auto;
//  position: relative;
//  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
//  white-space: nowrap;
//}

.v-tab {
  text-transform: capitalize !important;
}

.table-top-border {
  border-top: 1px solid #eee;
}

.v-data-table-header {
  background-color: #c8dff1;
}
