// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$font-size-root: 15px;
$select-outlined-dense-selections-padding-top: 1px 0;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 30px;
$select-small-chips-dense-selections-min-height: 30px;
$select-chips-dense-selections-min-height: 35px;
$text-field-outlined-dense-label-position-x: 5px;
$text-field-outlined-prepend-append-margin-top: 2px;
$input-top-spacing: 4px;
$label-font-size: 12px;
$input-font-size: 13px;
$text-field-padding: 3px 0 3px;
$dialog-card-text-padding: 0 24px 15px;
$text-field-filled-full-width-outlined-dense-slot-min-height: 40px;
$text-field-details-margin-bottom: 0;
$timeline-item-padding: 12px;
$card-btn-padding: 0 16px;
$data-table-dense-header-height: 48px;
$data-table-dense-row-height: 32px;
$checkboxOff: 'mdi-checkbox-blank-outline';
$checkboxOn: 'mdi-checkbox-marked';
$menu: 'mdi-menu';
